.env
/docs
/legacy
/session_messages
/__pycache__
.DS_Store
static/_next/.DS_Store
/.github/workflows
backend.code-workspace
prompts_perp.txt
app_perp.py
app_多文档.py
RAG_with_langchain_multifile.py
/memory
*.csv
RAG_with_langchain_SelfQuery.py
RAG_with_langchain_expansion.py
