.env
/docs
/legacy
/session_messages
/__pycache__
.DS_Store
static/_next/.DS_Store
/.github/workflows
backend.code-workspace
prompts_perp.txt
app_perp.py
app_多文档.py
RAG_with_langchain_*.py
/memory
*.csv
/table-PDF
llamaParse.py
meta_keywords.py
test_LLMs.py
app_subwriter.py
app_beta_gemini.py
deepseek_func.py
together_func.py
