fastapi
uvicorn
python-multipart
Openai
tiktoken
langchain
langchain_openai
langchain_community
# weaviate-client
pypdf
docx2txt
google-genai
anthropic
groq
supabase
beautifulsoup4
SQLAlchemy
sqlalchemy-utils
