@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  -webkit-appearance: none;  /* 移除在 Safari 中的默认样式 */
  -moz-appearance: none;     /* 移除在 Firefox 中的默认样式 */
  appearance: none;          /* 标准属性 */
  background-image: url('/static/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px 14px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}
.custom-select:hover {
  background-color: #e9e9e9; /* 设置悬停时的背景颜色 */
  border-color: #b3b3b3;     /* 可选：设置悬停时的边框颜色 */
}

.right-align-container {
  text-align: right;
  margin-right: 5px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  margin: 0; /* Remove browser default margins */
  font-family: 'Arial', sans-serif; /* Set a pleasant font family */
  background-color: #f8f9fa;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Example styling for individual components - adjust as desired */
.header,
.left-sidebar,
.right-sidebar,
.footer {
   padding: 10px;
   background-color: #f7f1e2; /* Or your chosen content area color #f0f2f5 #e8ebec */
   /* border: 1px solid #e0e0e0; */
}

/* Responsive Considerations */
@media (max-width: 768px) { 
  .main-container {
    grid-template-columns: 1fr; /* Stack on smaller screens */
    grid-template-rows: auto; /* Elements flow naturally */
  }
  /* ...potentially move sidebar elements below main content */
}

.main-container {
  display: grid;
  grid-template-columns: 20% 1fr 20%; /* Adjust sidebar widths as needed */
  grid-template-rows: auto 1fr auto; /* Allow header/footer to take up content space */
  height: 100vh;
}

.header {
  grid-column: 1 / -1; /* Span all columns */
  padding-top: 20px;
  padding-bottom: 0px;
}

.left-sidebar {
  grid-column: 1;
  padding-left: 40px;
  padding-right: 10px;
  overflow-y: auto; /* Allow scrolling */
}

.sidebar-content {
  background-color: #e8eef6; /* 根据需要调整边栏颜色 #d9dbe6 #e8eaf6 #eee #e7e7e7 */
  padding: 10px; /* 根据需要调整内边距 */
  height: 100%; /* 如果需要，可以调整高度 */
  overflow-y: auto; /* 如果内容很多需要滚动，可以保留 */
  border-radius: 10px; /* 圆角的大小，根据需要调整 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果，根据需要调整 */
}

.center-container {
  grid-column: 2;
  background-color: #f7f1e2;
  padding: 10px 20px;
  max-height: 100vh; /* Allow to fill the screen */
  overflow-y: auto; /* Allow scrolling */
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: #fbfbf9; /* 设置主内容区域的背景颜色 */
  padding: 10px 20px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* 如果你希望它填充可用空间 */
}

.right-sidebar {
  grid-column: 3;
  padding-right: 40px;
  padding-left: 10px;
  overflow-y: auto; /* Allow scrolling */
}

.footer {
  grid-column: 1 / -1; /* Span all columns */
  padding: 5px;
}

/* 对话框 */
.message-list-container {
  flex-grow: 1; /* Allow to fill the available space */
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  white-space: pre-wrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);  
}

.markdown-content table {
  border-collapse: collapse; /* 折叠边框为单一线条 */
  width: 98%; /* 可选，根据需要调整 */
  margin: 0 auto 1em; /* 表格在页面中居中 */
}

/* 为表格的单元格(td)和表头(th)设置边框 */
.markdown-content th,
.markdown-content td {
  border: 0.8px solid #ccc; /* 设置边框颜色和宽度 */
  padding: 8px; /* 设置内边距 */
}

/* 为表格的表头(th)设置背景颜色，可选 */
.markdown-content th {
  background-color: #dde8f5; /* 设置背景颜色 */
  text-align: left; /* 设置文本对齐方式 */
}

.markdown-content td {
  background-color: #f4f4f4;
  text-align: left; /* 设置文本对齐方式 */
}

/* 单独为表格的第一列设置字体颜色 
.markdown-content td:nth-child(1) {
  color: #2678C5;
}*/

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
  color: #2c3e50; /* 设定标题颜色 */
  margin-top: 0.5em; /* 标题上边距 */
}

.markdown-content h1 {
  font-size: 1.5em; /* 字体大小 */
  margin-bottom: 0.5em; /* 下边距 */
}

.markdown-content h2 {
  font-size: 1.3em; /* 字体大小 */
  margin-bottom: 0.4em; /* 下边距 */
}

.markdown-content h3 {
  font-size: 1.1em; /* 字体大小 */
  margin-bottom: 0.2em; /* 下边距 */
}

.markdown-content h4 {
  font-size: 1em; /* 字体大小 */
  margin-bottom: 0.1em; /* 下边距 */
}

.markdown-content hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.markdown-content p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.markdown-content ul,
.markdown-content ol {
  margin-top: -15px;
  margin-bottom: -15px;
}

.markdown-content pre {
  background-color: #f6f8fa;  /* 浅灰色背景 */
  border: 1px solid #ccc;     /* 边框 */
  border-radius: 3px;         /* 边角圆滑 */
  padding: 10px;              /* 内边距 */
  overflow: auto;             /* 溢出滚动 */
  font-family: 'Courier New', Courier, monospace; /* 使用等宽字体 */
}
