@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  -webkit-appearance: none;  /* 移除在 Safari 中的默认样式 */
  -moz-appearance: none;     /* 移除在 Firefox 中的默认样式 */
  appearance: none;          /* 标准属性 */
  background-image: url('/static/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px 14px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.right-align-container {
  text-align: right;
  margin-right: 5px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  margin: 0; /* Remove browser default margins */
  font-family: 'Arial', sans-serif; /* Set a pleasant font family */
  background-color: #f8f9fa;  
}

/* Example styling for individual components - adjust as desired */
.header,
.left-sidebar,
.right-sidebar,
.footer {
   padding: 20px;
   background-color: #f4f0e7; /* Or your chosen content area color */
   border: 1px solid #e0e0e0;
}

.main-content {
  background-color: #fbfbf9;
} 

.main-container {
  display: grid;
  grid-template-columns: 20% 1fr 20%; /* Adjust sidebar widths as needed */
  grid-template-rows: auto 1fr auto; /* Allow header/footer to take up content space */
  height: 100vh;
}

.header {
  grid-column: 1 / -1; /* Span all columns */
}

.left-sidebar {
  grid-column: 1;
  padding-left: 50px;
}

.main-content {
  grid-column: 2;
}

.right-sidebar {
  grid-column: 3;
  padding-right: 50px;
}

.footer {
  grid-column: 1 / -1; /* Span all columns */
  padding: 5px;
}
