@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
  -webkit-appearance: none;  /* 移除在 Safari 中的默认样式 */
  -moz-appearance: none;     /* 移除在 Firefox 中的默认样式 */
  appearance: none;          /* 标准属性 */
  background-image: url('/static/dropdown-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px 14px;
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}
.custom-select:hover {
  background-color: #e9e9e9; /* 设置悬停时的背景颜色 */
  border-color: #b3b3b3;     /* 可选：设置悬停时的边框颜色 */
}

.right-align-container {
  text-align: right;
  margin-right: 5px;
}

:root {
  --primary-color: #467EB7;       /* 主色调：明亮的蓝色 */
  --secondary-color: #f1f1f1;     /* 次要色调：浅灰色 */
  --accent-color: #e74c3c;        /* 强调色：柔和的红色 */
  --text-color: #2c3e50;          /* 主要文字颜色：深蓝灰色 */
  --light-text-color: #7f8c8d;    /* 次要文字颜色：浅灰色 */
  --background-color: #f9f7f0;    /* 背景色：温和的米黄色 */
  --sidebar-bg: #f0f4f8;          /* 侧边栏背景：浅蓝灰色 */
  --main-content-bg: #fdfcf8;     /* 主内容区背景：非常浅的米色 */
  --header-footer-bg: #2c3e50;    /* 页眉页脚背景：深蓝灰色 */
  --border-color: #bdc3c7;        /* 边框颜色：中等灰色 */
  --hover-color: #2980b9;         /* 悬停颜色：深蓝色 */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --scrollbar-thumb: #b8b8b8;
  --scrollbar-track: #f1f1f1;
}

body {
  margin: 0; /* Remove browser default margins */
  font-family: 'Arial', sans-serif; /* Set a pleasant font family */
  background-color: #f8f9fa;
}

/* Example styling for individual components - adjust as desired */
.header,
.left-sidebar,
.right-sidebar,
.footer {
   padding: 10px;
   background-color: var(--background-color); /* Or your chosen content area color #f0f2f5 #e8ebec */
   /* border: 1px solid #e0e0e0; */
}

/* Responsive Considerations */
@media (max-width: 768px) { 
  .main-container {
    grid-template-columns: 1fr; /* Stack on smaller screens */
    grid-template-rows: auto; /* Elements flow naturally */
  }
  /* ...potentially move sidebar elements below main content */
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: var(--header-footer-bg);
  color: white;
  box-shadow: var(--box-shadow);
}

.left-sidebar,
.right-sidebar {
  padding: 10px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.left-sidebar {
  left: 0;
  padding-left: 40px;
  padding-right: 10px;
}

.right-sidebar {
  right: 0;
  padding-right: 40px;
  padding-left: 10px;
}

.sidebar-content {
  background-color: var(--sidebar-bg);
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 80px; /* 调整这个值以匹配 header 的高度 */
  margin-bottom: 10px; /* 为 footer 留出空间 */
}

.center-container {
  flex-grow: 1;
  background-color: var(--background-color);
  padding: 10px 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 80px; /* 调整这个值以匹配 header 的高度 */
  margin-bottom: 10px; /* 为 footer 留出空间 */
  height: calc(100vh - 100px); /* 减去 header 和 footer 的高度 */
}

.main-content {
  background-color: var(--main-content-bg);
  padding: 10px 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  flex-grow: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px; /* 设置固定高度 */
  padding: 5px;
  background-color: var(--header-footer-bg);
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 对话框 */
.message-list-container {
  flex-grow: 1; /* Allow to fill the available space */
  overflow-y: auto;
  margin-bottom: 15px;
  padding: 10px;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  white-space: pre-wrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);  
}

.markdown-content table {
  border-collapse: separate;
  border-spacing: 0;
  width: 98%;
  margin: 1em auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.markdown-content th,
.markdown-content td {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 8px 10px;
  text-align: left;
}

.markdown-content th {
  background-color: #dde8f5;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.markdown-content td {
  background-color: #ffffff;
  font-size: 0.95em;
}

.markdown-content tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.markdown-content tr:last-child td {
  border-bottom: none;
}

.markdown-content th:last-child,
.markdown-content td:last-child {
  border-right: none;
}

/* 单独为表格的第一列设置字体颜色 
.markdown-content td:nth-child(1) {
  color: #2678C5;
}*/

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
  color: #2c3e50; /* 设定标题颜色 */
  margin-top: 0.5em; /* 标题上边距 */
}

.markdown-content h1 {
  font-size: 1.5em; /* 字体大小 */
  margin-bottom: 0.5em; /* 下边距 */
}

.markdown-content h2 {
  font-size: 1.3em; /* 字体大小 */
  margin-bottom: 0.4em; /* 下边距 */
}

.markdown-content h3 {
  font-size: 1.1em; /* 字体大小 */
  margin-bottom: 0.2em; /* 下边距 */
}

.markdown-content h4 {
  font-size: 1em; /* 字体大小 */
  margin-bottom: 0.1em; /* 下边距 */
}

.markdown-content hr {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.markdown-content p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.markdown-content ul,
.markdown-content ol {
  margin-top: -15px;
  margin-bottom: -15px;
}

.markdown-content pre {
  background-color: #f6f8fa;  /* 浅灰色背景 */
  border: 1px solid #ccc;     /* 边框 */
  border-radius: 3px;         /* 边角圆滑 */
  padding: 10px;              /* 内边距 */
  overflow: auto;             /* 溢出滚动 */
  font-family: 'Courier New', Courier, monospace; /* 使用等宽字体 */
}

/* 在文件末尾添加以下样式 */

.main-container {
  transition: all 0.3s ease;
}

.left-sidebar-collapsed .left-sidebar {
  width: 60px;
  min-width: 60px;
}

.right-sidebar-collapsed .right-sidebar {
  width: 60px;
  min-width: 60px;
}

.toggle-left-sidebar,
.toggle-right-sidebar {
  position: fixed;
  top: 50%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1000;
  font-size: 14px;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-left-sidebar {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.toggle-right-sidebar {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.left-sidebar-collapsed .center-container {
  margin-left: 60px;
}

.right-sidebar-collapsed .center-container {
  margin-right: 60px;
}

.left-sidebar,
.right-sidebar {
  transition: all 0.3s ease;
}

.left-sidebar-collapsed .left-sidebar .sidebar-content,
.right-sidebar-collapsed .right-sidebar .sidebar-content {
  opacity: 0;
  pointer-events: none;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-sidebar,
.right-sidebar {
  transition: all 0.3s ease;
  overflow-y: auto;
  height: 100%;
}

.center-container {
  flex-grow: 1;
  overflow-y: auto;
  transition: all 0.3s ease;
  margin-left: 260px;
  margin-right: 260px;
}

.left-sidebar-expanded .left-sidebar {
  width: 260px;
  min-width: 260px;
}

.right-sidebar-expanded .right-sidebar {
  width: 260px;
  min-width: 260px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
/* 其他样式保持不变 */

/* 美化滚动条 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
